.entry {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  align-items: left;
}

.content {
  display: flex;
}

.labels {
  font-weight: bold;
  margin-right: 10px;
  color: #333; /* Text color for labels */
  font-size: 16px; /* Font size for labels */
  text-transform: uppercase; /* Convert text to uppercase */
  width: 30%;
}

.text {
  margin-right: 10px;
  font-size: 16px; /* Font size for labels */
  align-self: right;
}

.button {
  flex: 25%;
}

.removeButton {
  background-color: #d23434;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 60px;
  margin-left: 10%;
}

.doneButton {
  background-color: #23db51;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 60px;
}

.doneButton:hover {
  background-color: rgb(20, 125, 34);
}

.removeButton:hover {
  background-color: #812222;
}

.done {
  text-decoration: line-through;
}
