.entry {
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  align-items: left;
}

.text {
  margin: 0;
  padding: 0;
  flex: 75%;
}

.button {
  flex: 25%;
}

.removeButton {
  background-color: #d23434;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 60px;
  margin-left: 10%;
}

.doneButton {
  background-color: #23db51;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 60px;
}

.doneButton:hover {
  background-color: rgb(20, 125, 34);
}

.removeButton:hover {
  background-color: #812222;
}

.done {
  text-decoration: line-through;
}
